{
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false }],
    "import/imports-first": [
      "error",
      "absolute-first"
    ],
    "import/newline-after-import": "error",
    "semi": ["error", "always"],
    "jsx-a11y/label-has-for":"off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/control-has-associated-label": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".jsx"]
      },
      "alias": {
        "map": [
          ["@components", "./src/components"],
          ["@pages", "./src/pages"],
          ["@context", "./src/context"],
          ["@hooks", "./src/hooks"],
          ["@utils", "./src/utils"],
          ["@styles", "./src/styles"],
          ["@images", "./src/assets/images"]
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}